<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>博客发布</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link rel="stylesheet" href="../../static/lib/editormd/css/editormd.min.css">
  <link rel="stylesheet" href="../../static/css/me.css">
</head>
<body>

  <!--导航-->
  <nav th:replace="admin/_fragments :: menu(1)"></nav>
  <div class="ui attached pointing menu">
    <div class="ui container">
      <div class="right menu">
        <a href="#" class="teal active item">发布</a>
        <a href="#" class="item">列表</a>
      </div>
    </div>
  </div>

  <!--中间内容-->
  <div  class="m-container-small m-padded-tb-big">
    <div class="ui container">
      <form id="blog-form" action="#" th:action="@{/admin/blogs/updates}" method="post" class="ui form">
        <input th:value="${blog1.published}" type="hidden" name="published">
        <input type="hidden" name="id" th:value="${blog1.id}">
        <div class="required field">
          <div class="ui left labeled input">
            <div class="ui selection compact teal basic dropdown label">
              <input th:value="${blog1.flag}" name="flag" type="hidden" value="原创" >
              <i class="dropdown icon"></i>
              <div class="text">原创</div>
              <div class="menu">
                <div class="item" data-value="原创">原创</div>
                <div class="item" data-value="转载">转载</div>
                <div class="item" data-value="翻译">翻译</div>
              </div>
            </div>
            <input th:value="${blog1.title}" type="text" name="title" placeholder="标题">
          </div>
        </div>

        <div class="required field">
          <div id="md-content" style="z-index: 1 !important;">
            <textarea placeholder="博客内容" th:text="${blog1.content}" name="content" style="display: none">
              [TOC]

#### Disabled options

- TeX (Based on KaTeX);
- Emoji;
- Task lists;
- HTML tags decode;
- Flowchart and Sequence Diagram;
            </textarea>
          </div>
        </div>

        <div class="two fields">
          <div class="required field">
            <div class=" ui left labeled action input">
              <label class="ui compact teal basic label">分类</label>
              <div class="ui fluid selection dropdown">
                <input type="hidden" th:value="${blog1.typeId}" name="typeId">
                <i class="dropdown icon"></i>
                <div class="default text">分类</div>
                <div class="menu">
                  <div th:each="type:${types}"  th:data-value="${type.id}" class="item"  th:text="${type.name}" data-value="1">错误日志</div>
                </div>
              </div>
            </div>
          </div>
          <div class="required field">
            <div class=" ui left labeled action input">
              <label class="  ui compact teal basic label">标签</label>
              <div class="ui fluid selection multiple search  dropdown">
                <input type="hidden" th:value="${blog1.tag}" name="tag">
                <i class="dropdown icon"></i>
                <div class=" default text">标签</div>
                <div class="menu">
                  <div th:each="tag:${tags}"  th:data-value="${tag.id}" class="item"  th:text="${tag.name}" data-value="1">错误日志</div>

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="required field">
          <div class="ui left labeled input">
            <label class="ui teal basic label">首图</label>
            <input type="text" th:value="${blog1.firstPicture}" name="firstPicture" placeholder="首图引用地址">
          </div>

        </div>

        <div class="inline fields">
          <div class="field">
            <div class="ui checkbox">
              <input th:checked="${blog1.recommend}" type="checkbox" id="recommend" name="recommend" checked class="hidden">
              <label for="recommend">推荐</label>
            </div>
          </div>
          <div class="field">
            <div class="ui checkbox">
              <input th:checked="${blog1.shareStatement}" type="checkbox" id="shareStatement" name="shareStatement" class="hidden">
              <label for="shareStatement">转载声明</label>
            </div>
          </div>
          <div class="field">
            <div class="ui checkbox">
              <input th:checked="${blog1.appreciation}" type="checkbox" id="appreciation" name="appreciation" class="hidden">
              <label for="appreciation">赞赏</label>
            </div>
          </div>
          <div class="field">
            <div class="ui checkbox">
              <input th:checked="${blog1.commentabled}" type="checkbox" id="commentabled" name="commentabled" class="hidden">
              <label for="commentabled">评论</label>
            </div>
          </div>
        </div>

        <div class="ui error message"></div>

        <div class="ui right aligned container">
          <button type="button" class="ui button" onclick="window.history.go(-1)" >返回</button>
          <button type="button" id="save-btn" class="ui secondary button">保存</button>
          <button type="button" id="publish-btn" class="ui teal button">发布</button>
        </div>

      </form>
    </div>
  </div>

  <br>
  <br>
  <!--底部footer-->
  <footer th:replace="admin/_fragments :: footer"></footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script src="../../static/lib/editormd/editormd.min.js"></script>

  <script>

    //初始化Markdown编辑器
    var contentEditor;
    $(function() {
      contentEditor = editormd("md-content", {
        width   : "100%",
        height  : 640,
        syncScrolling : "single",
        path    : "../../static/lib/editormd/lib/"
      });
    });
    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
      on : 'hover'
    });
    $('#save-btn').click(function () {
      $('[name="published"]').val(false);
      $('#blog-form').submit();
    });
    $('#publish-btn').click(function () {
      $('[name="published"]').val(true);
      $('#blog-form').submit();console.log("aaa")
    });

    $('.ui.form').form({
      fields : {
        title : {
          identifier: 'title',
          rules: [{
            type : 'empty',
            prompt: '标题：请输入博客标题'
          }]
        },
        content : {
          identifier: 'content',
          rules: [{
            type : 'empty',
            prompt: '标题：请输入博客内容'
          }]
        },
        typeId : {
          identifier: 'typeId',
          rules: [{
            type : 'empty',
            prompt: '标题：请输入博客分类'
          }]
        },
        firstPicture : {
            identifier: 'firstPicture',
            rules: [{
              type : 'empty',
              prompt: '标题：请输入博客首图'
            }]
        }
      }
    });

  </script>
</body>
</html>